$primary: #a4bde51c;
$info: #4f8393;
$warning: #677AAE;
$success: #4F6193;
$danger: #aeb8b5;
$carousel-control-color: dark;
$carousel-control-icon-width: 2rem;
$card-height: 100%;
$enable-grid-classes: false;
$enable-cssgrid: true;

.carousel-item {
    height: 40rem;
}

@import "../node_modules/bootstrap/scss/bootstrap";